.onnx
.engine
.tbz2
.pth
.pt
Hls_output/
Hls_output_1/
Gif_output/
ipfs_data/
image/
nohup.out
test.json
__pycache__/
models_deepstream/
DeepStream-Yolo/
models_deepstream/
static/

/home/agx123/DS_pipeline_new/mini_mmaction/demo/best_mAP_overall_epoch_12.pth
/home/agx123/DS_pipeline_new/deepstream_sdk_v6.2.0_jetson.tbz2